* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   border: none;
   outline: none;
   list-style: none;
   text-decoration: none;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

:root {
   --primary-hue: 270;
   --black-lightness: 15%;
   --dark-lightness: 44%;
   --light-lightness: 94%;
   --white-lightness: 100%;
   --color-primary: hsl(var(--primary-hue), 89%, 41%);
   --color-white: hsl(0, 5%, var(--white-lightness));
   --color-light: hsl(var(--primary-hue), 5%, var(--light-lightness));
   --color-black: hsl(var(--primary-hue), 5%, var(--black-lightness));
   --color-dark: hsl(var(--primary-hue), 5%, var(--dark-lightness));

   /*General container variables*/
   --container-width-lg: 76%;
   --container-width-md: 90%;

   /*Border radius variables*/
   --border-radius-1: 1.2rem;
   --border-radius-2: 0.8rem;
   --border-radius-3: 0.5rem;

   /* General transition variable */
   --transition: all 0.5s ease;
}

html {
   scroll-behavior: smooth;
}

body {
   font-family:'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
   sans-serif;
   line-height: 1.6;
   font-size: 0.9rem;
}

/* General container class */
.container {
   width: var(--container-width-lg);
   margin-inline: auto;
   max-width: 1920px;
}

/* General section styles */
section {
   padding: 10rem 0;
   background: var(--color-light);
   transition: var(--transition);
}

section:nth-child(even) {
   background: var(--color-white);
}

section > h2 { /* section headings */
   text-align: center;
}

section > p {
   text-align: center;
   margin: .5rem auto 4rem;
   width: 40%;
}

/*general anchor styles*/
a {
   color: var(--color-white);
   transition: var(--transition);
}

/*general headings styles*/
h1, h2, h3, h4, h5, h6{
   line-height: 1.1;
}

h1 {
   font-size: 3rem;
}

h2 {
   font-size: 2rem;
}

h3 {
   font-size: 1.6rem;
}

h4 {
   font-size: 1.1rem;
}

h5 {
   font-size: .95rem;
}

h6 {
   font-size: .8rem;
}


.img {
   display: block;
   width: 100%;
   object-fit: cover;
}